
.StuffItem h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

li {
  background-color: thistle;
}

.lamp {
  background-color: rgb(224, 195, 142);
}

.radio {
  background-color: saddlebrown;
}

.bouquet {
  background-color: lavenderblush;
}

.books {
  background-color: lightseagreen;
}

.poem {
  background-color: rgb(135, 185, 204);
}

.rug {
  background-color: antiquewhite;
}

.blanket {
  background-color: teal;
}

.curtain {
  background-color: floralwhite;
}

.desk {
  background-color: rgb(110, 89, 61);
}

li {
  background-color: greenyellow;
}

.computer {
  background-color: rgb(158, 158, 158);
}